div.banner-container{
	width: 960px;
	height: 100px;
	background-image: url('../images/logo.jpg');
	background-position: center;
	margin: 0px auto;
}

div.nav-container{
	width: 960px;
	height: 28px;
	margin: 0px auto;
	text-align: center;
	background-color: #2f3f00;
}

a.nav{
	display: table-cell;
	border: none;
	width: 320px;
	height: 28px;
	text-decoration: none;
	font-family: cursive;
	text-align: center;
	color: cyan;	
}
 
a.nav:hover{
	color: pink;
	background-color: #990011;	
}

a{
	color: #00ff00;
	text-decoration: none;
}

a:visited{
	color: purple;
}

a:hover{
	color: pink;
	background-color: #990011;
	text-decoration: underline;
}

div.body-container{
	width: 960px;
	height: 2140px;	
	margin: 0px auto;
	background-color: #fffff0;
}

div.left-float{
	padding-left: 20px;
	width: 448px;
	float: left;	
}

div.right-float{
	width: 448px;
	float: right;	
	padding-right: 20px;
}

h2{
	text-align: center;
}

h4{
	text-align: center;
}

hr{
	width: 80%;
}

body{
	color: #111111;
	font-size: 11pt;
	font-family: sans-serif;
}

p{
	text-indent: 2em;	
}

div.footer {
    width:960px;
    margin: 0px auto;
    background-color:#2f3f00;
    font-size: 9pt;
    text-align: center;
}